* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: solid 1px red; */
}

body {
	background-color: #202133;
}

.shadow-applet {
	display: none;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	position: absolute;
	color: #ddd;
	font-size: 48px;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper > * {
	/* padding: 10px;
	margin: 10px; */
	/* border-radius: 10px; */
	flex: 1 100%;
}

.header {
	background-color: #1c1e26;
	color: #ddd;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header h1:hover {
	color: #0086f3;
}

.nav-bar {
	background-color: #070a0e;
	color: #fff;
}

.nav-bar-item {
	margin: 0 10px;
	padding: 15px 5px 16px 5px;
}

.nav-bar .burger-icon {
	display: flex;
	padding: 10px;
	margin: 0px;
	font-size: 25px;
}

.nav-bar-items {
	display: none;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.nav-bar-items a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ddd;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-bar-items :hover {
	color: #0086f3;
}

.main {
	display: flex;
	flex-flow: row wrap;
	padding: 10px;
	background-image: url(../img/bg.png);
	background-position: center;
	background-size: cover;
}

.main > * {
	flex: 1 100%;
}

.card {
	border-radius: 20px;
	/* margin: 10px; */
	padding: 60px 10px;
	margin: 10px;
	background-color: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	color: #ddd;
}

.card-icon {
	margin-bottom: 50px;
	font-size: 136px;
}

.card-icon:hover {
	color: #0086f3;
}

.footer {
	display: flex;
	background-color: #0d1014;
	font-size: 20px;
	color: #ddd;
	height: 80px;
	justify-content: center;
	align-items: center;
}

/* media queries */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.card1,
	.card2 {
		color: #fff;
		flex: 1;
	}

	.nav-bar-items {
		display: flex;
	}

	.nav-bar .burger-icon {
		display: none;
	}
}

@media (min-width: 992px) {
	.card3 {
		flex: 1;
	}

	.nav-bar-items {
		display: flex;
	}

	.nav-bar .burger-icon {
		display: none;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1200px;
		margin: 50px auto 0 auto;
	}

	.header {
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}

	.nav-bar-items {
		display: flex;
	}

	.nav-bar .burger-icon {
		display: none;
	}

	.footer {
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}
