* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: solid 1px red; */
}

body {
	background-color: #202133;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper > * {
	/* padding: 10px;
	margin: 10px; */
	/* border-radius: 10px; */
	flex: 1 100%;
}

.header {
	background-color: #1c1e26;
	color: #ddd;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-bar {
	display: none;
	background-color: #070a0e;
}

.main {
	display: flex;
	flex-flow: row wrap;
	/* margin: 5px; */
	padding: 10px;
	background-image: url(../img/bg.png);
	background-position: center;
	background-size: cover;
}

.main > * {
	flex: 1 100%;
}

.card {
	border-radius: 10px;
	/* margin: 10px; */
	padding: 20px 10px;
	margin: 10px;
	background-color: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	color: #ddd;
}

/* .card1 {
	background-color: hotpink;
}

.card2 {
	background-color: deepskyblue;
}

.card3 {
	background-color: blueviolet;
} */

.footer {
	background-color: #0d1014;
	height: 80px;
}

/* media queries */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.card1,
	.card2 {
		color: #fff;
		flex: 1;
	}
}

@media (min-width: 992px) {
	.card3 {
		flex: 1;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}
}
