* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: solid 1px red; */
}

body {
	background-color: #202133;
}

.shadow-applet {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	color: #ddd;
	font-size: 26px;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.shadow-applet-on {
	display: flex;
}

.shadow-applet p {
	text-transform: uppercase;
}

.box-applet {
	padding: 20px;
	display: flex;
	flex-direction: row-reverse;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.applet-close-icon {
	position: absolute;
	margin-right: -40px;
	margin-top: -40px;
	font-size: 20px;
	color: #ddd;
	background-color: transparent;
	border: none;
}

.applet-close-icon:hover {
	color: #0086f3;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper > * {
	/* padding: 10px;
	margin: 10px; */
	/* border-radius: 10px; */
	flex: 1 100%;
}

.header {
	background-color: #1c1e26;
	color: #ddd;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/bg.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.header h1 a {
	text-decoration: none;
	color: #ddd;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header h1 a:hover {
	color: #0086f3;
	cursor: pointer;
}

.logo {
	width: 50px;
	height: 50px;
}

.nav-bar {
	/* background-color: rgba(0, 0, 0, 0); */
	background-color: #070a0e;
	color: #fff;
	position: sticky;
	display: flex;
	top: 0;
	right: 0;
	left: 0;
	justify-content: space-between;
	max-width: 1200px;
	z-index: 10;
/* coppied form down */

/* color: #fff;
width: 1200px;
height: 50px; */
}

.nav-bar-bg{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #070a0e;
}

.nav-bar-item {
	margin: 0 10px;
	padding: 15px 5px 16px 5px;
}

.nav-bar .burger-icon {
	padding: 10px;
	margin: 0px;
	font-size: 25px;
}

.nav-bar-items {
	display: none;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.nav-bar-items a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ddd;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-bar-items :hover {
	color: #0086f3;
}

/* feed */

.microblog {
	background-color: #ddd;
	height: 250px;
	position: relative;
}

.footer {
	background-color: #0d1014;
	color: #fff;
	width: 1200px;
	height: 50px;
}

/* Main part of microblog styles */
.microblog-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #ddd;
	border-bottom: 1px solid #000;
}

.microblog-header h2 {
	font-size: 16px;
}

.microblog-header .message-date {
	font-size: 16px;
}

.microblog-text {
	padding: 10px 20px;
}

.microblog-nav {
	position: absolute;
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: space-between;
	background-color: #ddd;
	border-top: 1px solid #000;
	bottom: 0;
	width: 100%;
}

.fa-solid {
	padding: 20px;
	font-size: 20px;
}

.fa-solid:hover {
	color: #0086f3;
}

.message-number {
	font-size: 18px;
}

/* about me */
.about-me{
	background-color: #1c1e26;
	height: 300px;
}

/* Projects */
.projects{
	height: 500px;
}

/* main */
.main {
	display: flex;
	flex-flow: row wrap;
	padding: 10px;
	background-image: url(../img/2.png);
	
	background-position: center;
	background-size: cover;
}

.main > * {
	flex: 1 100%;
}

.card {
	border-radius: 20px;
	/* margin: 10px; */
	padding: 60px 10px;
	margin: 10px;
	background-color: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	color: #ddd;
}

.card p {
	margin-top: 20px;
	padding: 0 30px;
	text-align: justify;
	text-shadow: 1px 1px 1px black;
}

.card-icon {
	margin-bottom: 50px;
	font-size: 136px;
}

.card-icon:hover {
	color: #0086f3;
	cursor: pointer;
}

.footer {
	display: flex;
	background-color: #0d1014;
	font-size: 20px;
	color: #ddd;
	height: 80px;
	justify-content: center;
	align-items: center;
}

.version {
	display: flex;
	font-size: 10px;
	justify-content: center;
}

/* media queries */

@media (min-width: 576px) {
	.shadow-applet {
		font-size: 36px;
	}

	.applet-close-icon {
		position: absolute;
		margin-right: -60px;
		margin-top: -60px;
		font-size: 36px;
	}
}

@media (min-width: 768px) {
	.card1,
	.card2 {
		color: #fff;
		flex: 1;
	}

	.nav-bar {
		background-color: #070a0e;
	}

	.nav-bar-items {
		display: flex;
	}

	.nav-bar .burger-icon {
		display: none;
	}
}

@media (min-width: 992px) {
	.card3 {
		flex: 1;
	}

	.nav-bar-items {
		display: flex;
	}

	.nav-bar .burger-icon {
		display: none;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	.header {
	}

	.nav-bar-wrapper {
		width: 1200px;
	}

	.nav-bar-items {
		display: flex;
	}

	.nav-bar .burger-icon {
		display: none;
	}

	.footer {
	}
}
