* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: solid 1px red; */
}

body {
	font-family: "Roboto", sans-serif;
	/* background-color: #23262d; */
	background-color: #202133;
	/* background-color: #0a0d11; */
	/* height: 100vh; */
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.header {
	position: relative;
	margin-top: 50px;
	width: 100%;
	height: 100px;
	background-color: #1c1e26;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.header-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ddd;
}

.header-text a{
	text-decoration: none;
	color: #fff;
}

.header-text a:hover{
	color: #0086f3;
}

/* navigation */

nav {
	background-color: #070a0e;
	width: 100%;
}

ul {
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}

ul li {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 50px;
	font-size: 16px;
	margin: 0 10px;
}

ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #ddd;
	/* transition: color 0.3s; */
}

ul li a:hover {
	color: #0086f3;
}

.section-1 {
	
	position: relative;
	/* background-color: #ebeae6; */
	color: #fff;
	width: 100%;
	height: 675px;
	background-image: url(../img/bg.png);
	background-size: cover;
	padding: 50px;
}

.section-1-bg {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	border-radius: 30px;
	text-align: center;
	/* background-color: rgba(0, 0, 0, 0.5); */
	background-color: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	/* z-index: -5; */
}

.section-1-text {
	position: absolute;
	
}
/* .section-2{
    position: relative;
    background-color: #FEFFFE;
    width: 100%;
    height: 300px;
} */

/* footer */
footer {
	background-color: #0d1014;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%px;
	height: 50px;
	margin-bottom: 50px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
