* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: solid 1px red; */
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.wrapper > * {
	padding: 10px;
	margin: 10px;
	flex: 1 100%;
	border-radius: 10px;
}

.header {
	background-color: tomato;
	height: 120px;
}

.nav-bar {
	display: none;
}

.main {
	display: flex;
	flex-flow: row wrap;
	margin: 5px;
}

.main > * {
	flex: 1 100%;
}

.card {
	border-radius: 10px;
	/* margin: 10px; */
	padding: 10px;
}

.card1 {
	background-color: hotpink;
}

.card2 {
	background-color: deepskyblue;
}

.card3 {
	background-color: blueviolet;
}

.footer {
	background-color: lightgreen;
	height: 80px;
}

/* media queries */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.card1,
	.card2 {
		color: #fff;
		flex: 1;
	}
}

@media (min-width: 992px) {
	.card3 {
		flex: 1;
	}
}

@media (min-width: 1200px) {
	.wrapper{
		max-width: 1200px;
		margin: 0 auto;
	}
}
